<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>472217120499-fhmf9i74vfn6go3n6gc5hh1ghlos9v9d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.472217120499-fhmf9i74vfn6go3n6gc5hh1ghlos9v9d</string>
	<key>API_KEY</key>
	<string>AIzaSyAsnuLD-4_hETmUTa8gsLHp2guOsThFOhk</string>
	<key>GCM_SENDER_ID</key>
	<string>472217120499</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.PracticumIT.EduFinance</string>
	<key>PROJECT_ID</key>
	<string>edufinance-dba39</string>
	<key>STORAGE_BUCKET</key>
	<string>edufinance-dba39.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:472217120499:ios:9e0a1e775f2340075a9186</string>
</dict>
</plist>